.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.game-card {
  width: calc(100% / 7 - 20px);
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform .3s, box-shadow .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.game-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.game-card a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.game-image {
  width: 100%;
  height: auto;
}

.game-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .game-card {
    width: calc(100% / 3 - 20px);
  }
}

@media (min-width: 768px) {
  .game-card {
    width: calc(100% / 4 - 20px);
  }

  .game-list {
    justify-content: space-between;
  }

  .game-list:nth-child(2n) {
    justify-content: flex-start;
  }

  .game-list:nth-child(2n+1) {
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .game-card {
    width: calc(100% / 7 - 20px);
  }

  .game-list {
    justify-content: space-between;
  }

  .game-list:nth-child(2n) {
    justify-content: flex-start;
  }

  .game-list:nth-child(2n+1) {
    justify-content: flex-start;
  }
}
