/* Game list container */
.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Individual game card */
.game-card {
  width: calc(100% / 7 - 10px); /* Adjusted width */
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform .3s, box-shadow .3s; /* Added box-shadow transition */
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  align-items: center; /* Center align content */
  justify-content: center;
  text-align: center;
  cursor: pointer; /* Added cursor pointer */
}

/* Add hover effect to entire .game-card */
.game-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Adjusted box-shadow */
  transform: translateY(-5px);
}

/* Styling for game links */
.game-card a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Styling for game images */
.game-image {
  width: 100%;
  height: auto;
}

/* Styling for game names */
.game-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
}
